<div class="container main-container">
    <h1>Editar Cliente</h1>
    <hr>
    <div class="row">
        <div class="col-md-10">
            <form novalidate="novalidate" (ngSubmit)="atualizar()" [formGroup]="clienteForm">
                <div class="alert alert-danger" *ngIf="errors.length > 0">
                    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                    <ul>
                        <li *ngFor="let error of errors">{{ error }}</li>
                    </ul>
                </div>
                <input type="hidden" id="id" name="id" value="">
                <div class="form-group">
                    <label class="control-label">Nome</label>
                    <div>
                        <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                        <span class="text-danger" *ngIf="displayMessage.nome">
                        <p [innerHTML]="displayMessage.nome"></p>
                    </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Porte</label>
                    <div>
                        <select class="form-control" id="state" formControlName="porte" [ngClass]="{ 'is-invalid': displayMessage.porte }">
                        <option value="">Selecione</option>
                        <option value="Pequena">Pequena</option>
                        <option value="Media">Média</option>
                        <option value="Grande">Grande</option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage.porte">
                            <p [innerHTML]="displayMessage.porte"></p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Editar" class="btn btn-info btn-sm" [disabled]="!clienteForm.dirty || !clienteForm.valid">
                    <a class="btn btn-secondary btn-sm" href="javascript:void(0)" [routerLink]="['/lista']" style="margin-left: 10px;">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
